.panda-bg{
    background-color: rgb(253, 172, 163) ;
}
.button-color{
    color: white;
    background-color:rgb(219, 83, 137);
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
.categories img{
    width: 100px;
}